# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
yarn.lock

# testing
/coverage
test-results/
playwright-report/

# next.js
/.next/
/out/
/build

# production
/dist

# env files
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store
*.pem
*.key

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*

# IDE
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# OS
Thumbs.db

# Turbo
.turbo/

# Storybook
storybook-static/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
